.covid19 .container {
  margin-top: 48px;
}
.covid19 a:hover {
  text-decoration: none;
}
.covid19 a {
  color: black;
}
.covid19 h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 0;
  text-align: center;
}
.covid19 p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  padding-left: 120px;
  padding-top: 10px;
  color: #aaaaaa;
}
.covid19 .image {
  padding-top: 60px;
}
.covid19 .text{
    margin-bottom: 100px;
}
