.covid19 .container {
  margin-top: 48px;
}

.covid19 a:hover {
  text-decoration: none;
}

.covid19 a {
  color: black;
}

.covid19 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 0;
  text-align: center;
}
