*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  box-sizing: border-box;
}

.buttons {
  /* height: 40px; */
  border: 1px solid #282828;
  box-sizing: border-box;
  /* font-size: 15px; */
}

.royxat {
  height: 51px;
  border: 1px solid #282828;
  box-sizing: border-box;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}
.navbar .brands {
  font-size: 5px;
}

.navbar-nav .nav-link {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #4f4f4f;
  line-height: 170%;
}

.itemss {
  padding: 7px 16px;
}
.links {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  line-height: 170%;
  /* color: #4f4f4f; */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.sms {
  color: rgb(87, 80, 80) !important;
}
.phone {
  color: rgb(87, 80, 80) !important;
  transform: rotate(106deg);
}

.rel {
  width: 100%;
  height: 50px;
  position: relative;
}

.pos {
  position: absolute;
  top: -36px;
  right: 27px;
  text-decoration: none;
  font-size: 14px;
}

.item {
  display: flex;
}

@media (max-width: 776px) {
  .rel {
    display: none;
  }

  .nav-item {
    margin: 0 !important;
    padding-bottom: 17px;
  }

  .navbar-nav {
    text-align: center;
  }

  hr {
    display: none;
  }
}
*/

/*************** mainPages *************** */

.maqola_nashir {
  margin-top: 100px;
}
.maqola_nashir h1 {
  margin-top: 100px;
  text-align: left;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  color: #282828;
}
.maqola_nashir p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #5a5a5a;
}

.article_pages {
  margin-top: 80px;
}
.card-articles {
  width: 360px;
  height: 460px;
}
.card_title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #282828;
  padding-top: 60px;
}
.article_rows {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.card_text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  /* color: #5a5a5a; */
  padding-top: 15px;
}
.card-articles {
  margin-bottom: 80px !important;
  height: auto;
}
.buut-ons {
  margin-bottom: 100px;
}
.buut-ons button {
  width: 100%;
  height: 51px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

/* section -----------------------------*/

.sections {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  margin-bottom: 100px;
}
.article-chap {
  padding-top: 100px;
}
.jurnal-haqida {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #777777;
}
.article_uz {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  padding-top: 89px;
}

.art-tex {
  padding-top: 100px;
  padding-bottom: 100px;
}
.articles-text {
  width: 100%;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #282828;
  /* text-align: left; */
}

/* bg -------- */

.img-bg img {
  width: 100%;
  height: 600px;
  padding-bottom: 100px;
}

.img-bg .d-flex h1 {
  text-align: left;
  width: 100%;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}

.img-bg .text-left {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #282828;
  padding-bottom: 70px;
}
.img-bg .buttonsDark {
  margin-bottom: 100px;
}
.img-bg .buttonsDark button {
  width: 253px;
  height: 60px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

/* bgGren2 */

.bgGren2 {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  margin-bottom: 100px;
}

.bgGren2 .art_uz {
  padding-top: 171px;
}
.art_uz > h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 20px;
  color: #282828;
  text-align: left;
  padding-bottom: 30px;
}
.art_uz > p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  /* color: #282828; */
}
.num h5 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 140%;
  color: #282828;
}
.num p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  /* color: #777777; */
}
.art_uz2 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.art_uz2 img {
  width: 100%;
  height: 400px;
  margin-left: auto;
}

/** bizning mualif eng qulay...--------------*/

.mualif h2 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}
.mualif .list-group {
  padding-top: 66px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #282828;
  padding-bottom: 100px;
}
.mualif .list-group-item {
  padding: 20px;
}

/* footer --------- */

.footer {
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
}
.footer h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  text-align: left;
  padding-top: 100px;
}
.footer .row {
  padding-top: 60px;
}
.footer h5 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #282828;
  padding-top: 25px;
}
.footer p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #777777;
  padding-top: 15px;
}
.footer a {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #777777;
  text-decoration: none;
}
.footer a:hover {
  color: #777777;
}

.footer .hr1 {
  width: 310px;
}

.footer .queres {
  padding-top: 80px;
}
.queres {
  width: 100%;
}

.queres h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
}

.queres a button {
  margin-top: 40px;
  width: 241px;
  height: 60px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;

  color: #ffffff;
}
.queres .nav {
  padding-top: 108px;
}
.queres .nav-link {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  color: #777777;
}

.hr2 {
  width: 100%;
  padding-top: 80px;
}

.foo_nex .OST {
  text-align: end;
}
.foo_nex p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
}

.foo_nex {
  width: 100%;
}
/* Media */

@media (max-width: 776px) {
  .navbar .navbar-nav {
    margin: 0 auto;
  }
  .hrr {
    display: block;
  }
  .maqola_nashir h1 {
    text-align: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #000000;
  }
  .maqola_nashir p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #777777;
  }
  .article_rows {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .article-chap {
    /* text-align: center; */
    padding: 0 19px;
  }
  .art-tex {
    padding: 0 19px;
    width: 100%;
  }
  .num {
    text-align: center;
  }
  .footer .hr1 {
    display: block;
  }
  .home_pages {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .home_pages {
    width: 100%;
  }
}

@media (max-width: 776px) {
  .sections .articles-text {
    width: 100%;
  }
  .navbar-nav .pos {
    position: inherit;
    flex-flow: column;
  }
  .navbar-nav .pos div {
    padding: 10px 0;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 0 15px;
  }
  .buut-ons {
    margin: 60px 25px;
  }
  .buut-ons button {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .jurnal-haqida {
    padding-top: 60px;
  }
  .art-tex .articles-text {
    width: 100%;
  }
  .mainPages .buut-ons a {
    width: 340px;
    height: 51px;
  }
  .sections .article_uz {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    padding-top: 20px;
  }
  .img-bg .col-md-12 img {
    padding: 0 20px;
    width: 320px;
    height: 219px;
  }
  .mainPages h1 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
  }
  .container .col-md-6 h1 {
    margin: 41px auto;
    width: 320px;
  }
  .container .text-left {
    width: 320px;
    margin: 0 auto;
  }
  .buttonsDark button {
    width: 86% !important;
    margin: 0 20px;
  }
  .bgGren2 .art_uz {
    padding-top: 60px;
  }
  .bgGren2 .col-md-4 {
    padding-bottom: 60px;
  }
  .art_uz h1 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
  }
  .art_uz p {
    padding: 0 20px;
  }
  .mualif h2 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 150%;
  }

  .mualif .list-group-item {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
  }

  .footer h1 {
    padding: 0 20px;
  }
  .footer .queres button {
    width: 100%;
  }
  .footer .queres .nav {
    display: grid;
  }

  .foo_nex {
    display: block;
    text-align: center;
  }
}
