.jurnallar {
  padding-top: 100px;
}
.jurnal_articles .border-0 {
  box-shadow: none;
}


.jurnallar .nav-item .active{
  color: black !important;
  text-shadow: 0 0 black;
}

.jurnallar .nav-link{
  color: rgb(105, 101, 101) !important;
}
.jurnallar h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  color: #000000;
  text-align: left;
}

.jurnallar h4 a {
  text-decoration: none;
  color: black;
}

.jurnallar .nav-item {
  padding: -1px 10px;
}

.jurnallar .nav-link {
  font-weight: normal;
  font-size: 18px;
  color: #aaaaaa;
}

.jurnallar .nav-link:hover {

  color: #000000;
}

.jurnallar .navpils {
  padding-top: 80px;
}

.jurnal_articles {
  padding-top: 60px;
}

.jurnallar .a1 {
  margin-top: 100px;
}

.maqolaQabul {
  padding-left: 100px;
}

.maqolaQabul h1 {
  font-weight: bold;
  font-size: 64px;
  color: #000000;
  margin-bottom: 100px;
}

.maqolaQabul h4 {
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}

.carousel {
  margin-bottom: 200px;
}

.carousel h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #000000;
}

.carousel .text-muted {
  margin-bottom: 0;
  margin-bottom: 2px;
  margin-top: 20px;
}

.carousel .text-muted a {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #777777;
  text-decoration: none;
}

.carousel .hrrr {
  width: 150px;
  height: 2px;
  color: black;
  margin-top: 0;
}

.carousel .hr2 {
  margin: 80px 0;
}

.colap .col-lg-10 h4 {
  margin-top: 0;
  padding-top: 25px;
  margin-bottom: 0;
}

.colap .col-lg-10 p {
  padding-top: 20px;
}

.colap .col-lg-4 {
  position: relative;
  z-index: -1;
}

.colap .react-multiple-carousel__arrow--left {
  position: absolute;
  left: calc(-46% + -22px);
}

.colap .react-multiple-carousel__arrow--right {
  position: absolute;
  right: calc(130% + 1px);
}

.react-multi-carousel-list {
  position: initial;
}

/* media */

@media (max-width: 600px) {
  .jurnallar {
    width: 100%;
  }
  .jurnallar h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
  }
  .jurnallar .jurnal-haqida {
    padding-top: 60px;
    margin-bottom: 0;
  }

  .jurnallar .article_uz {
    padding-top: 20px;
    font-weight: bold;
    font-size: 32px;
  }

  .maqolaQabul {
    padding: 0 15px;
  }
}

/* footer  */


.footer {
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
}
.footer h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  text-align: left;
  padding-top: 100px;
}
.footer .row {
  padding-top: 60px;
}
.footer h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #282828;
  padding-top: 25px;
}
.footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #777777;
  padding-top: 15px;
}
.footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #777777;
  text-decoration: none;
}
.footer a:hover {
  color: #777777;
}

.footer .hr1 {
  width: 310px;
}

.footer .queres {
  padding-top: 80px;
}
.queres {
  width: 100%;
}

.queres h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
}

.queres a button {
  margin-top: 40px;
  width: 241px;
  height: 60px;

  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;

  color: #ffffff;
}
.queres .nav {
  padding-top: 108px;
}
.queres .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #777777;
}


.hr2 {
  width: 100%;
  padding-top: 80px;
}

.foo_nex .OST {
  text-align: end;
}
.foo_nex p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
}

.foo_nex {
  width: 100%;
}
.foo_nex .endd {
  text-align: end;
}

/* @media (max-width: 350px) {
} */
