.jurnallar {
  padding-top: 100px;
}

.jurnallar h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  color: #000000;
  text-align: left;
}
.jurnallar .nav-item {
  padding: 0 10px;
}

.jurnallar .nav-link {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #aaaaaa !important;
}
.jurnallar .nav-link:hover {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 170%;
  color: #000000 !important;
}

.jurnallar .navpils {
  padding-top: 80px;
}



.jurnal_articles {
  padding-top: 60px;
}
.jurnallar .a1 {
  margin-top: 100px;
}



.maqolaQabul {
  width: 100%;
  height: 700px;
  padding-left: 100px;
}
.maqolaQabul h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  color: #000000;
}

.maqolaQabul h4 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #000000;
}
.carousel h4 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #000000;
}
.carousel .text-muted {
  margin-bottom: 0;
  margin-bottom: 2px !important;
  margin-top: 20px;
}
.carousel .text-muted a {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #777777;
  text-decoration: none;
}
.carousel hr {
  width: 150px;
  height: 2px;
  color: black !important;
  margin-top: 0;
}
