.magazineInfo > p {
  font-size: 18px;
}

.magazineInfo h1 {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 10px;
}

.magazineInfo .art_ilmiy {
  font-size: 20px;
  padding-bottom: 80px;
}

.magazineInfo .col-lg-4 h3 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 23px;
}
