*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.tebles {
  width: 100%;
  height: auto;
  border: 1px solid #dfe0e3;
}

.teble-ramka {
  margin-bottom: 0;
}

.tr1 {
  border: 1px solid #dfe0e3;
  height: 35px;
  background-color: #f9fafc;
  font-size: 13px;
  padding-left: 7px;
}

.tr3 {
  border-bottom: 1px solid #dfe0e3;
  height: 30px;
  background-color: #f9fafc;
  display: flex;
  align-content: center;
  font-size: 13px;
  font-weight: 700;
  color: gray;
}

.br1 {
  width: 450px;
  border-right: 1px solid #dfe0e3;
  padding-left: 10px;
}

.br1 p {
  margin: 0;
  padding-top: 5px;
}

.br2 {
  width: 150px;
  border-right: 1px solid #dfe0e3;
}
.content .navvs {
  width: 100%;
  padding: 14px 8px;
}

.br2 p {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
}

.br3 {
  width: 160px;
  border-right: 1px solid #dfe0e3;
}

.br3 p {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
}

.br4 {
  width: 170px;
}

.br4 p {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
}
.row-tables {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.row-tables1 {
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  text-align: center;
}

.row-tables .form-control-file {
  width: 91%;
}

.row-tables .form-control {
  font-size: 9px;
}

.row-tables button {
  width: 70px;
  font-size: 9px;
  padding: 6px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #51cbce !important;
  color: white !important;
}

@media (max-width: 576px) {
  .row-tables1 {
    display: block !important;
  }
}

@media (max-width: 400px) {
  .row-tables .col-lg-3 button {
    position: absolute !important;
    right: 171px;
  }
}
