*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  box-sizing: border-box;
}

.user__page__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  max-height: 100%;
  border-radius: 0.6rem;
  background-color: #f8f1ae91;
  padding: 2rem;
  font-size: 1.5rem;
}

.no--margin {
  margin: 0;
  padding: 0;
}

.user__card__name {
  height: 11rem;
  text-align: center;
  position: relative;
}

.user__card__name--line {
  width: 8rem;
  height: 0.1rem;
  background-color: gray;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user__card__name--name {
  height: 3rem;
}

.user__card__image {
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.user__card__image--img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user__card__actions {
  padding: 2rem 1rem 0 1rem;
  /* padding: 1rem; */
}

/* .nav-link a,
.nav-link {
  color: #000 !important;
} */
/* 
.nav-link:active {
  color: #fff !important;
}

.user__actions {
  max-width: 40%;
  text-align: center;
  height: 30rem;
}

.user__informations {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.user__informations--heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem 2rem 1rem;
}

.user__informations--heading,
.user__informations h4 {
  display: inline-block;
}

.user__informations--info {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.user__informations--name {
  padding: 0.1rem 0.3rem;
  background-color: rgb(126, 185, 37);
  color: #fff;
  border-radius: 0.3rem;
}

.centerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
